---
layout: default
title: Home
---


<center>
<img class="regular materialboxed responsive-img" src="{{ site.baseurl }}/files/nsf_photo.jpeg" width="30%">
</center>


My name is Wilka Torrico De Carvalho. I am a master's student and a <a href="https://www.nsfgrfp.org/"> NSF Graduate Research Fellow</a> in the <a href="http://www.cs.usc.edu">computer science department</a> at the <a href="http://www.usc.edu">University of Southern California</a>, where I am advised by Professor <a href="http://www-bcf.usc.edu/~liu32/">Yan Liu</a>. I do research with her on neural networks for topics like transfer learning, domain adaptation, and reinforcement learning. Before this, I recieved a bachelor's of science in physics from <a href="http://www.stonybrook.edu/">Stony Brook University</a>, where I was advised by <a href="http://www.stonybrook.edu/commcms/nuclear-experiment/personal/axeldrees.html">Axel Drees</a>. I worked with him on computational nuclear physics research <a href="https://github.com/wcarvalho/dirc-detector">modeling a particle detector</a> for heavy-ion collisions.

<br><br>

My primary research interest is in uncovering the brain's algorithms. More specifically, I want to research how behavior and cognition are manifestations of the brain’s learning algorithms and to emulate these algorithms using a machine learning framework. 
<br><br>

Feel free to contact me at wcarvalh[at]usc.edu

<br>
<h3>Here, you can find my <a href="publications">publications</a>, a small <a href="about">bio</a>, my <a href="blog">blog</a>, and my <a href="files/wilka_carvalho_CV.pdf">CV</a>.<br>
Below are my three latests posts.</h3>
<div class="posts">
  <ul class="related-posts">
    {% for post in paginator.posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- <br> -->
<hr>
{% include news.html %}
<!-- <br> -->
<hr>
<h3>Here is some other fun stuff.</h3>
<ul>
  <li>
    As part of an <a href="http://biochemnewsletter.com/sbu-wins-1-4-million-nih-grant-to-support-underrepresented-undergrad-and-doctoral-researchers/">initiative to increase minority representation in STEM </a> by combating it at one of its roots: poor math performance, I led a supplemental calculus course at <a href="http://www.stonybrook.edu/">Stony Brook University</a>. The initiative was started by <a href="http://www.stonybrook.edu/commcms/biochem/research/faculty/gergen/"> Professor Peter Gergen</a> and supported by $1.4 million grant from the <a href="https://www.nih.gov/">National Institutes of Health</a> (NIH). <a href="/files/cie_biomath.pdf">This</a> is an article written about the course.
  </li>
  <li>
    <a href="http://www.stonybrook.edu/happenings/student-spotlight/2015-nsf-graduate-research-fellow-wilka-carvalho/">This</a> is an article written about me at my undergraduate institution when I won the NSF GRF.
  </li>
  <li>
    While at Stony Brook, I was featured as the <a href="http://www.stonybrook.edu/happenings/homespotlight/ureca-researcher-of-the-month-wilka-carvalho/">Researcher of the Month</a> in December, 2014. 
  </li>
  <li>
    This is a poem I wrote about the brain: <a href="/poem/2013/02/14/brain/">A Physicist Enamored by the Brain.</a> Ironically, it was written on valentines day. <a href="poetry">Here</a> is some other poetry I've written.
  </li>
  <li>
    <a href="https://youtu.be/VEWjrxm2UrA">This</a> is a youtube video I made when I was in 7th grade, which somehow managed to get <strong>15 million </strong> views. Wowza
  </li>
</ul>


<br>
<h3>Lastly, feel free to connect with me online</h3>
<table>
  <tr>
    <th align="center"><a href="https://www.linkedin.com/in/wilkacarvalho">LinkedIn</a></th>
    <th align="center"><a href="https://github.com/wcarvalho">GitHub</a></th>
    <th align="center"><a href="https://www.quora.com/Wilka-Carvalho">Quora</a></th>
  </tr>
  <tr>
    <td align="center">
       <a class="" href="https://www.linkedin.com/in/wilkacarvalho">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/linkedin.svg">
      </a>
    </td>
    <td align="center">
       <a class="" href="https://github.com/wcarvalho">
            <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/github.svg">
          </a>
      </a>
    </td>
    <td align="center">
       <a class="" href="https://www.quora.com/Wilka-Carvalho">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/quora.svg">
      </a>
    </td>
  </tr>
</table>


