<h3>Lastly, feel free to connect with me online</h3>
<table>
  <tr>
    <th align="center"><a href="https://www.linkedin.com/in/wilkacarvalho">LinkedIn</a></th>
    <th align="center"><a href="https://github.com/wcarvalho">GitHub</a></th>
    <th align="center"><a href="https://www.quora.com/Wilka-Carvalho">Quora</a></th>
  </tr>
  <tr>
    <td align="center">
       <a class="" href="https://www.linkedin.com/in/wilkacarvalho">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/linkedin.svg">
      </a>
    </td>
    <td align="center">
       <a class="" href="https://github.com/wcarvalho">
            <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/github.svg">
          </a>
      </a>
    </td>
    <td align="center">
       <a class="" href="https://www.quora.com/Wilka-Carvalho">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/quora.svg">
      </a>
    </td>
  </tr>
</table>


