<center>
  <table>
    <tr>
      <td>
        <a href="publications">Publications</a>
      </td>
      <td>
        <a href="blog">Blog</a>
      </td>
      <td>
        <a href="files/wilka_carvalho_CV.pdf">CV</a>
      </td>
      <td>
        <a href="acknowledgments">Acknowledgements</a>
      </td>
    </tr>
  </table>
  
</center>


<!-- <h3>Here, you can find my <a href="publications">publications</a>, a small <a href="about">bio</a>, my <a href="blog">blog</a>, and my <a href="files/wilka_carvalho_CV.pdf">CV</a>.</h3><br> -->
