<div class="row">
  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/">Home</a>
  </div>

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/publications">Publications</a>
  </div>

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/blog">Blog</a>
  </div>

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/files/wilka_carvalho_CV.pdf">CV</a>
  </div>


 <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/acknowledgments">Acknowledgements</a>
  </div>

</div>

<!-- <div class="row">
  <a class="btn btn-primary btn-lg float-right" href="publications">Publications</a>
  <a class="btn btn-primary btn-lg float-right" href="blog">Blog</a>
  <a class="btn btn-primary btn-lg float-right" href="files/wilka_carvalho_CV.pdf">CV</a>
  <a class="btn btn-primary btn-lg float-right" href="acknowledgments">Acknowledgements</a>
</div> -->