
- **May, 2025:** New ICML paper on [building agents that can coordinate with humans without human data](https://arxiv.org/pdf/2504.12714)
- **April, 2025:** Talk at Harvard Cognition, Brain, & Behavior Seminar
- **April, 2025:** Talk to Kim Stachenfeld's group at Columbia Neuro
- **April, 2025:** Talk to Marcelo Mattar's group at NYU Pysch
- **April, 2025:** Talk to Eugene Vinitsky's group at NYU Tandom
- **April, 2025:** Talk to Mark Ho's group at NYU Psych
- **March, 2025:** Talk to RL Seminar at Tübingen
- **March, 2025:** Talk at Google DeepMind
- **March, 2025:** Talk at Cognition Seminar at UC Berkeley
- **March, 2025:** Talk to Bill Thompsons' group at UC Berkeley Pysch
- **March, 2025:** Talk to Falk Leider's group at UCLA
- **March, 2025:** Talk at Social and Decision Neuroscience Seminar at Caltech
- **March, 2025:** Talk at USC Symposium "Frontiers of Machine Learning and AI - Fundamentals and Applications"
- **March, 2025:** Talk at Harvard Neurolunch Seminar
- **February, 2025:** Talk at RL Seminar at UMich
- **February, 2025:** Talk to Talia Konkle and George Alvarez's vision lab at Harvard
- **February, 2025:** Talk to Bernardo Sabatini's neuroscience group at Harvard
- **February, 2025:** Talk at Sam Gershman's Computational Cognitive Neuroscience Group at Harvard
- **February, 2025:** New preprint on [computational cognitive science for naturalistic experimental paradigms](https://arxiv.org/abs/2502.20349)
