- **February, 2022:** Giving a talk [composable representations]({{ site.baseurl }}/abstracts/composable_primitives) to the Computational Cognitive Neuroscience group at Harvard
- **February, 2022:** Giving a talk [composable representations]({{ site.baseurl }}/abstracts/composable_primitives) to the Intelligent Robot's group at Brown
- **February, 2022:** Giving a talk [composable representations]({{ site.baseurl }}/abstracts/composable_primitives) to the Computational Cognitive Neuroscience group at Berkeley
- **February, 2022:** Giving a talk [composable representations]({{ site.baseurl }}/abstracts/composable_primitives) at Intel
- **November, 2021:** Accepted ICLR 2022 Workshop on the Elements of Reasoning: Objects, Structure and Causality
- **October, 2021:** Contributed Opinion Talk at <a href="https://sites.google.com/view/deep-rl-workshop-neurips2021/">Deep RL Workshop</a> at NeurIPS 2021! Topic: "[Weak Inductive Biases for Discovering Composable Representations]({{ site.baseurl }}/publications/deeprl_workshop/opinion_abstract.pdf)"
- **August, 2021:** Submitted patent based on research from DeepMind internship!
- **August, 2021:** Accepted Paper at NeurIPS 2021!
- **March, 2021:** Accepted Paper at IJCAI 2021!
- **August, 2020**: Invited Speaker at <a href="https://orlrworkshop.github.io/">Object Representations for Learning and Reasoning Workshop</a> at NeurIPS 2020!
