<ul>
  <li>November
    <ul>
        <li>Our NIPS workshop paper has been selected for a <b>Spotlight Talk</b>.</li>
        <li>Attended <a href="http://dolcit.cms.caltech.edu/scmls/">Southern California Machine Learning Symposium</a> and won <b>runner-up</b> in poster competition on machine learning applications.</li>
        <li>Our paper, "Variational Adversarial Deep Domain Adaptation for Health Care Time Series Analysis" was accepted for the NIPS Machine Learning for Healthcare workshop!</li>
    </ul>
  </li>
  <li>October
    <ul>
        <li>The graduate school at USC has chosen to create a feature video of my research on domain adaptation that will be released in Spring!</li>
        <li>The graduate school at USC has selected me for a video in which I'll talk about applying for the NSF and give advice to future applicants.</li>
    </ul>
  </li>
</ul>