- **Feb, 2023:** Gave talk at Harvard: "Towards Human-like Deep Reinforcement Learning."
- **Jan, 2023:** Gave a podcast interview on the impact of AI in society.
- **Jan, 2023:** 1 paper on successor features accepted to ICLR, 2023!
- **Jan, 2023:** 1 paper on object-centric RL accepted to AAAI, 2023!
- **Nov, 2022:** Giving a talk on [composable representations]({{ site.baseurl }}/misc/composable_primitives) to the Computational Neuroscience group @UCL
- **March, 2022:** Our ICLR 2022 workshop on Objects, Structure, and Causality was [featured](https://www.rsipvision.com/ComputerVisionNews-2022March/10/) as workshop of the month on Computer Vision News!
- **February, 2022:** Giving a talk on [composable representations]({{ site.baseurl }}/misc/composable_primitives) to the {Computational Cognitive Neuroscience group @Harvard, Intelligent Robots group @Brown, Computational Cognitive Neuroscience group @Berkeley, and Intel}
- **November, 2021:** Accepted ICLR 2022 Workshop on the Elements of Reasoning: Objects, Structure and Causality
<!-- - **October, 2021:** Contributed Opinion Talk at <a href="https://sites.google.com/view/deep-rl-workshop-neurips2021/">Deep RL Workshop</a> at NeurIPS 2021! Topic: "[Weak Inductive Biases for Discovering Composable Representations]({{ site.baseurl }}/publications/deeprl_workshop/opinion_abstract.pdf)" -->
<!-- - **August, 2021:** Submitted patent based on research from DeepMind internship! -->
<!-- - **August, 2021:** Accepted Paper at NeurIPS 2021! -->
<!-- - **March, 2021:** Accepted Paper at IJCAI 2021! -->
<!-- - **August, 2020**: Invited Speaker at <a href="https://orlrworkshop.github.io/">Object Representations for Learning and Reasoning Workshop</a> at NeurIPS 2020! -->
