<strong>August, 2020</strong>
<ul>
    <li>Invited Speaker at <a href="https://orlrworkshop.github.io/">Object Representations for Learning and Reasoning Workshop</a> at NeurIPS 2020!</li>
    <li>Invited Speaker at Cognitive Science Community @ U Michigan!</li>
    <li>Interviewed by <a href="https://twimlai.com/relational-object-centric-agents-for-completing-simulated-household-tasks-with-wilka-carvalho/">This Week in Machine Learning (TWIML)</a> for my work on developing a relational, object-centric agent for 3D, simulated household tasks!</li>
</ul>
<strong>June, 2020</strong> Research Spotlight by University of Michigan, Computer Science Department!
<strong>February, 2020</strong> New patent from work at IBM 2 years ago!
