<strong>2017</strong> 
<li>April
<ul>
    <li>I have been selected for the <a href="https://egem.gemfellowship.org/Home.aspx">GEM Fellowship</a> under the sponsorship of IBM!</li>
</ul>
</li>
<li>March
<ul>
    <li>I have been selected to be a student volunteer for ICLR!</li>
    <li>I have been selected for an ICLR travel award! </li>
    <li>I will be a machine learning research intern at <a href="http://research.visa.com/">Visa</a> this summer!</li>
</ul>
</li>
<li>February
<ul>
    <li>Our paper, "Variational Recurrent Adversarial Deep Domain Adaptation" was accepted to ICLR </li> 
</ul>
</li>