<strong>May, 2017</strong>: I will be a machine learning research intern at IBM this Fall! <br>
<strong>April, 2017</strong>: I have been selected for the <a href="http://www.gemfellowship.org/">GEM Fellowship</a> under the sponsorship of IBM! <br>
<strong>March, 2017</strong>
<ul>
    <li>I have been selected to be a student volunteer for ICLR!</li>
    <li>I have been selected for an ICLR travel award! </li>
    <li>I will be a machine learning research intern at <a href="http://research.visa.com/">Visa</a> this summer!</li>
</ul>
<strong>February, 2017</strong>: Our paper, "Variational Recurrent Adversarial Deep Domain Adaptation" was accepted to ICLR!
