---
<!-- title: Building Machines that Learn and Think Like People (pt 1. Introduction and History) -->
<!-- img: /files/writing/abyss.jpg -->
<!-- width: 75 -->
<!-- caption: My perfect world. -->
layout: post
comments: true
category: review
tags: [cognitive-science, machine-learning]
---

Note: ideas and opinions that are my own and not of the article will be in an <font color="grey"><em>italicized grey</em></font>.<br>
<strong>Also, please ask questions if anything is unclear! I am happy to clarify or point you to clarifying material!</strong>

<h1>Series Table of Contents</h1>

<a href="{{ site.baseurl }}/review/2017/12/23/building_machines_intro">Part 1: Introduction and History</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/31/building_machines_challenges">Part 2: Challenges for Building Human-Like Machines</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/22/building_machines_developmental">Part 3: Developmental Software</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/22/building_machines_learning">Part 4: Learning as Rapid Model-Building</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/22/building_machines_thinking">Part 5: Thinking Fast</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/23/building_machines_resources">Resources</a> <br>
<!-- <a href="{{ site.baseurl }}/review/2017/12/22/building_machines_thinking">Glossary</a> <br> -->

{{ content }}