---
layout: post
comments: true
category: review
tags: [cognitive-science, machine-learning, brain, deep-learning]
---

Note: Ideas and opinions that are my own and not of the article will be in an <font color="grey"><em>italicized grey</em></font>.<br><br>

<h1>Series Table of Contents</h1>

<a href="{{ site.baseurl }}/review/2017/12/23/building_machines_intro">Part 1: Introduction and History</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/31/building_machines_challenges">Part 2: Challenges for Building Human-Like Machines</a> <br>
<a href="{{ site.baseurl }}/review/2018/01/01/building_machines_developmental">Part 3: Developmental Software</a> <br>
<a href="{{ site.baseurl }}/review/2018/01/06/building_machines_learning">Part 4: Learning as Rapid Model-Building</a> <br>
<a href="{{ site.baseurl }}/review/2018/01/06/building_machines_thinking">Part 5: Thinking Fast</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/23/building_machines_resources">Resources</a> <br>
<a href="{{ site.baseurl }}/review/2017/12/23/building_machines_glossary">Glossary</a> <br>

{{ content }}

<h3>Thank you for reading. Please leave any comments or thoughts below or, alternatively, feel free to email me at <a href="mailto:wcarvalho92@gmail.com">wcarvalho92@gmail.com</a>.</h3>
