<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <!-- Math Support -->

  <body class="layout">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
      {% include top.html %}
      <div class="container content ">
        <center>
        {% include links.html %}
        </center>
        <div class="title-rule">
          <hr >
        </div>
      </div>
      {{ content }}
    <!-- </div> -->

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/materialize.min.js"></script>
    {% include mathjax_support.html %}
    {% include analytics.html %}
  </body>
</html>