<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <!-- Math Support -->

  <body class="layout">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <!-- <div class="wrap"> -->
      <div class="masthead">
        <div class="bottom-right">
          <div class="container">
            <div align="center">
              <h3 class="masthead-title">
                  <img class="nsf responsive-img" src="{{ site.baseurl }}/files/nsf_photo.jpeg"> <br>
                  <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
                  <small>{{ site.tagline }}</small>
              </h3>
            </div>
          </div>
        </div>
        <div class="bottom-left">
          <div class="container">
            <a href="https://www.linkedin.com/in/wilkacarvalho/"><i class="svg-icon linkedin"></i></a>
            <a href="https://github.com/wcarvalho/"><i class="svg-icon github"></i></a>
            <a href="https://twitter.com/wilkatorrico/"><i class="svg-icon twitter"></i></a>
            <a href="mailto:wcarvalho92@gmail.com"><i class="svg-icon email"></i></a>
          </div>
        </div>
      </div>
      <div class="container content ">
        <center>
        {% include links.html %}
        </center>
        {% if page.title == "Home" %}
        <div class="title-rule">
          <hr >
        </div>
        {% else %}
        <div class="title-rule">
          <hr >
        </div>
        {% endif %}
        {{ content }}
      </div>
    <!-- </div> -->

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/materialize.min.js"></script>
    {% include mathjax_support.html %}
    {% include analytics.html %}
  </body>
</html>